.homeContact{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    

}
.homeContactLeft{
    
    display: flex;
    justify-content: space-between;
    
    
}
.missed-call{
    color: red;
}
.hung-up{
    color: red;
}