.homeNavigation{
    height: 45px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    
    
}
.homeNavLink{
    color: gray;
    letter-spacing: 1.05px;
    
}
.active{
    color: black;
    font-weight: bold;
    transition: 0.2s linear;
}
.active::after{
        
    content: "";
    display: block;
    border-bottom: 3px solid rgb(193, 107, 240);
    margin-top: 2px;
}