.personal-details{
display: flex;
align-items: center;
cursor: pointer;
width: 200px;
}
.contact:hover{
    border-radius: 20px; 
     background-color: rgba(164, 157, 157, 0.344);
}
.contact-icon{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */

    margin-right: 5px;
}
.contact-icon-letter{
  
    font-size: 11px;
    font-weight: bold;
   
}
p{
    
}